/*
    Author:  Extum
    Version: 1.0.0
    Contact: ardacebi1@gmail.com
    Github:  https://github.com/Extum
    
*/

.box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	-moz-box-shadow:    @shadow;
	box-shadow:         @shadow;
}
.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
    border-radius:         @radius;
}
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.background-size (@size) {
    -webkit-background-size: @size;
    -moz-background-size:    @size;
    background-size:         @size;
}
.bgrgba (@rgba) {
    background: rgba(0,0,0, @rgba);
}
.bgcolor (@color) {
    background: @color;
}
.brgba (@size, @rgba) {
    border: @size solid rgba(0,0,0, @rgba);
}
.brcolor (@size, @color) {
    border: @size solid @color;
}

 @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

    @dfont: "Roboto", Helvetica, Arial, sans-serif;
    @cfont: "Courier New", Helvetica, Arial, sans-serif;

    @shadow1: rgba(0,0,0, .05); 
    @shadow2: rgba(0,0,0, .1);
    @shadow3: rgba(0,0,0, .2);
    @shadow4: rgba(0,0,0, .4);

    // whitestyle
    @wscolor: #585858;
    @wshcolor: @wscolor + #000000;
   
// darkstyle
    @dscolor: #b7b7b7;
    @ducolor: #cecece;
    @dshcolor: #d1d1d1;

.IndexPage-newDiscussion {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }
  .IndexPage-newDiscussion:hover {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%); }
  .IndexPage-newDiscussion:focus:not(:active) {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .IndexPage-newDiscussion:active {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .IndexPage-newDiscussion.IndexPage-newDiscussion--colored {
    color: rgb(63,81,181); }
    .IndexPage-newDiscussion.IndexPage-newDiscussion--colored:focus:not(:active) {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
input.IndexPage-newDiscussion[type="submit"] {
  -webkit-appearance: none; }
  .IndexPage-newDiscussion--raised:active {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .IndexPage-newDiscussion--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158,158,158, 0.40); }
  .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:hover {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:active {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:focus:not(:active) {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored .mdl-ripple {
      background: rgb(255,255,255); }
.Button {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    border: none;
    border-radius: 2px;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 44px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1),background-color .2s cubic-bezier(.4, 0, .2, 1),color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle; }
  .Button:hover {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%); }
  .Button:focus:not(:active) {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .Button:active {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .Button.Button--colored {
    color: rgb(63,81,181); }
    .Button.Button--colored:focus:not(:active) {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
input.Button[type="submit"] {
  -webkit-appearance: none; }
  .Button--raised:active {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .Button--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158,158,158, 0.40); }
  .Button--raised.Button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255); }
    .Button--raised.Button--colored:hover {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored:active {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored:focus:not(:active) {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored .mdl-ripple {
      background: rgb(255,255,255); }
  .Checkbox-display {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .Checkbox-display.is-upgraded {
    padding-left: 28px; }
.Checkbox-display__input {
  line-height: 24px; }
  .Checkbox-display.is-upgraded .Checkbox-display__input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none; }
.Checkbox-display__track {
  background: rgba(0,0,0, 0.26);
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 36px;
  border-radius: 14px;
  cursor: pointer; }
  .Checkbox-display.is-checked .Checkbox-display__track {
    background: rgba(63,81,181, 0.5); }
  .Checkbox-display__track fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__track {
    background: rgba(0,0,0, 0.12);
    cursor: auto; }
.Checkbox-display__thumb {
  background: rgb(250,250,250);
  position: absolute;
  left: 0;
  top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left; }
  .Checkbox-display.is-checked .Checkbox-display__thumb {
    background: rgb(63,81,181);
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
  .Checkbox-display__thumb fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__thumb {
    background: rgb(189,189,189);
    cursor: auto; }
.Checkbox-display__focus-helper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  display: inline-block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent; }
  .Checkbox-display.is-focused .Checkbox-display__focus-helper {
    box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1); }
  .Checkbox-display.is-focused.is-checked .Checkbox-display__focus-helper {
    box-shadow: 0 0 0px 20px rgba(63,81,181, 0.26);
    background-color: rgba(63,81,181, 0.26); }
.Checkbox-display__label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  left: 24px; }
  .Checkbox-display__label fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__label {
    color: rgb(189,189,189);
    cursor: auto; }
.Checkbox-display__ripple-container {
  position: absolute;
  z-index: 2;
  top: -12px;
  left: -14px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  transition-duration: 0.40s;
  transition-timing-function: step-end;
  transition-property: left; }
  .Checkbox-display__ripple-container .mdl-ripple {
    background: rgb(63,81,181); }
  .Checkbox-display__ripple-container fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__ripple-container {
    cursor: auto; }
  fieldset[disabled] .Checkbox-display .Checkbox-display__ripple-container .mdl-ripple,
  .Checkbox-display.is-disabled .Checkbox-display__ripple-container .mdl-ripple {
    background: transparent; }
  .Checkbox-display.is-checked .Checkbox-display__ripple-container {
left: 2px; }
.SessionDropdown .Dropdown-toggle {
    border-radius: 18px;
    margin-left: 15px }
.SessionDropdown .Dropdown-toggle .Avatar {
    margin: 6px 5px -2px -6px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    font-size: 12px;
    line-height: 24px; }
.DiscussionPage-nav .ButtonGroup:not(.itemCount1) .Dropdown-toggle {
width: 22%;
    margin-top: 9px; }
.Button--link {
background: transparent !important;
margin-right: 9px; }
.DiscussionListItem-controls .Dropdown-toggle {
    display: block;
    margin-left: 9px;
    margin-top: -2px; }
.NotificationsDropdown .Dropdown-toggle {
width: 36px;
     text-align: center;
    padding: 0px 0;
 margin-left: 9px;}
@keyframes pulse {
	0% { transform: scale(1);}
	50% { transform: scale(1.5); }
	100% { transform: scale(1); } }
.new .NotificationsDropdown-unread {
	animation: pulse 1s infinite; }
.TagIcon {
   margin-top: 4px; }
.sideNav .TagLinkButton .TagIcon {
    .box-shadow(0 1px 1px @shadow3);
    height: 18px;
    font-size: 14px !important; }
.Button--icon {
  border: none;
  border-radius: 2px;
  position: relative;
  margin: 0;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }
.sideNav .Dropdown--select .Dropdown-menu {
  display:block;
  border:1;
  width:auto;
  margin:0;
  padding:0;
  padding-left: 10px;
  min-width:0;
  float:none;
  position:static;
  background:none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
.sideNav .Dropdown--select .Dropdown-menu:hover {
box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22); }
.DiscussionListItem-author {
 float:left;
 margin-top:13px;
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: radial-gradient(circle at center 75px, transparent, transparent 50px);
  -webkit-filter: drop-shadow(0px 2px 2px gray);
  overflow: hidden; }
.DiscussionListItem-author:hover {
 -webkit-filter: drop-shadow(0px 2px 4px gray); }
.PostUser-avatar {
  left:-85px;
  position:absolute;
  width:64px;
  height:64px;
  border-radius:64px;
  font-size:32px;
  line-height:64px;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -webkit-filter: drop-shadow(0px 2px 2px gray);
  overflow: hidden; }
.Post {
  padding-left:105px;
box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23); }
.Post:hover {
box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22); }
.NotificationGrid {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  background-color: rgb(255,255,255);
box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23); 
margin-bottom:5px; }
  .NotificationGrid thead {
    padding-bottom: 3px; }
    .NotificationGrid thead .NotificationGrid__select {
      margin-top: 0; }
  .NotificationGrid tbody tr {
    position: relative;
    height: 48px;
    transition-duration: 0.28s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color; }
    .NotificationGrid tbody tr.is-selected {
      background-color: #e0e0e0; }
    .NotificationGrid tbody tr:hover {
box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
transition: all 0.2s cubic-bezier(.25,.8,.25,1); }
  .NotificationGrid td, .NotificationGrid th {
    padding: 0 18px 12px 18px; }
    .NotificationGrid td:first-of-type, .NotificationGrid th:first-of-type {
      padding-left: 24px; }
    .NotificationGrid td:last-of-type, .NotificationGrid th:last-of-type {
      padding-right: 24px; }
  .NotificationGrid td {
    position: relative;
    vertical-align: middle;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 12px;
    box-sizing: border-box; }
    .NotificationGrid td .NotificationGrid__select {
      vertical-align: middle; }
  .NotificationGrid th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    box-sizing: border-box; }
    .NotificationGrid th.NotificationGrid__header--sorted-ascending, .NotificationGrid th.NotificationGrid__header--sorted-descending {
      color: rgba(0, 0, 0, 0.87); }
      .NotificationGrid th.NotificationGrid__header--sorted-ascending:before, .NotificationGrid th.NotificationGrid__header--sorted-descending:before {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        word-wrap: normal;
        -moz-font-feature-settings: 'liga';
             font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        content: "\e5d8";
        margin-right: 5px;
        vertical-align: sub; }
      .NotificationGrid th.NotificationGrid__header--sorted-ascending:hover, .NotificationGrid th.NotificationGrid__header--sorted-descending:hover {
        cursor: pointer; }
        .NotificationGrid th.NotificationGrid__header--sorted-ascending:hover:before, .NotificationGrid th.NotificationGrid__header--sorted-descending:hover:before {
          color: rgba(0, 0, 0, 0.26); }
    .NotificationGrid th.NotificationGrid__header--sorted-descending:before {
      content: "\e5db"; }
.NotificationGrid__select {
  width: 16px; }
.NotificationGrid__cell--non-numeric.NotificationGrid__cell--non-numeric {
  text-align: left; }
 .CommentPost:not(.Post--hidden),.ReplyPlaceholder {
  min-height:104px;
  margin-bottom:15px }
.DiscussionList-discussions {
 list-style-type:none;
 position:relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-left: 15px;
  margin-top: 20px; }
.DiscussionList-discussions:hover {
box-shadow: 0 4px 10px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22); }
.DiscussionListItem {
  position:relative;
  margin-right:0px;
  padding-right:25px;
  padding-left:15px;
  margin-left:-15px;
  border-radius:4px;
  transition:background .2s }
.NotificationGrid-checkbox.highlighted .Checkbox:not(.disabled),.NotificationGrid-checkbox .Checkbox:hover:not(.disabled) {
 background:whitesmoke }
 .PostMention,.UserMention {
 background:#e4e8f6;
 color:#667199;
 border-radius:4px;
 padding:2px 5px;
 border:0 !important;
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 2px 1px rgba(0,0,0,0.23);
transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
.PostMention:hover,.UserMention:hover,.PostMention:active,.UserMention:active {
 color:#4369ff;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25), 0 3px 4px rgba(0,0,0,0.22); }
.FormControl {
border: none;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  display: block;
  font-size: 16px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  background: none;
  text-align: left;
  color: inherit; }
.NotificationList-header {
  padding:12px 15px;
  box-shadow: 0px 3px 2px lightgray;
  margin-bottom: 5px; }
