.IndexPage-newDiscussion {
  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;

  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }
 
  .IndexPage-newDiscussion:hover {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%); }

  .IndexPage-newDiscussion:focus:not(:active) {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .IndexPage-newDiscussion:active {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .IndexPage-newDiscussion.IndexPage-newDiscussion--colored {
    color: rgb(63,81,181); }
    .IndexPage-newDiscussion.IndexPage-newDiscussion--colored:focus:not(:active) {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }

input.IndexPage-newDiscussion[type="submit"] {
  -webkit-appearance: none; }

  .IndexPage-newDiscussion--raised:active {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
 }
  .IndexPage-newDiscussion--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158,158,158, 0.40); }
  .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:hover {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:active {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored:focus:not(:active) {
      background-color: rgb(63,81,181); }
    .IndexPage-newDiscussion--raised.IndexPage-newDiscussion--colored .mdl-ripple {
      background: rgb(255,255,255); }








.Button {
  
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;

  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle; }
 
  .Button:hover {
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%); }

  .Button:focus:not(:active) {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .Button:active {
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }
  .Button.Button--colored {
    color: rgb(63,81,181); }
    .Button.Button--colored:focus:not(:active) {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%); }

input.Button[type="submit"] {
  -webkit-appearance: none; }

  .Button--raised:active {
     -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
 }
  .Button--raised:focus:not(:active) {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    background-color: rgba(158,158,158, 0.40); }
  .Button--raised.Button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255); }
    .Button--raised.Button--colored:hover {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored:active {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored:focus:not(:active) {
      background-color: rgb(63,81,181); }
    .Button--raised.Button--colored .mdl-ripple {
      background: rgb(255,255,255); }

  .Checkbox-display {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  margin: 0;
  padding: 0;
  overflow: visible;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .Checkbox-display.is-upgraded {
    padding-left: 28px; }

.Checkbox-display__input {
  line-height: 24px; }
  .Checkbox-display.is-upgraded .Checkbox-display__input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none; }

.Checkbox-display__track {
  background: rgba(0,0,0, 0.26);
  position: absolute;
  left: 0;
  top: 5px;
  height: 14px;
  width: 36px;
  border-radius: 14px;
  cursor: pointer; }
  .Checkbox-display.is-checked .Checkbox-display__track {
    background: rgba(63,81,181, 0.5); }
  .Checkbox-display__track fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__track {
    background: rgba(0,0,0, 0.12);
    cursor: auto; }

.Checkbox-display__thumb {
  background: rgb(250,250,250);
  position: absolute;
  left: 0;
  top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left; }
  .Checkbox-display.is-checked .Checkbox-display__thumb {
    background: rgb(63,81,181);
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
  .Checkbox-display__thumb fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__thumb {
    background: rgb(189,189,189);
    cursor: auto; }

.Checkbox-display__focus-helper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
  display: inline-block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent; }
  .Checkbox-display.is-focused .Checkbox-display__focus-helper {
    box-shadow: 0 0 0px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1); }
  .Checkbox-display.is-focused.is-checked .Checkbox-display__focus-helper {
    box-shadow: 0 0 0px 20px rgba(63,81,181, 0.26);
    background-color: rgba(63,81,181, 0.26); }

.Checkbox-display__label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  left: 24px; }
  .Checkbox-display__label fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__label {
    color: rgb(189,189,189);
    cursor: auto; }

.Checkbox-display__ripple-container {
  position: absolute;
  z-index: 2;
  top: -12px;
  left: -14px;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  transition-duration: 0.40s;
  transition-timing-function: step-end;
  transition-property: left; }
  .Checkbox-display__ripple-container .mdl-ripple {
    background: rgb(63,81,181); }
  .Checkbox-display__ripple-container fieldset[disabled] .Checkbox-display,
  .Checkbox-display.is-disabled .Checkbox-display__ripple-container {
    cursor: auto; }
  fieldset[disabled] .Checkbox-display .Checkbox-display__ripple-container .mdl-ripple,
  .Checkbox-display.is-disabled .Checkbox-display__ripple-container .mdl-ripple {
    background: transparent; }
  .Checkbox-display.is-checked .Checkbox-display__ripple-container {
    left: 2px; }
